
.navbar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .navbar-list {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;

        .navbar-list-item {
            display: flex;
            padding: .5rem 1rem;

            .fa-home {
                color: purple;
            }

            .fa-facebook {
                color: #3b5998;
                &:hover {

                }
            }

            .fa-github {
                color: white;
            }

            .fa-envelope {
                color: orange;
            }

            .fa-download {
                color: green;
            }

            &:hover + .navbar-helper {
                display: block;
                margin-top: -1rem;
                text-shadow: #000 1px 0 5px;
            }
        }

        &-item--left {
            flex-grow: 1;
        }
    }

    .navbar-helper {
        padding: 0 2rem 0 0;
        color: rgba(255, 255, 255, 0.62);
        display: none;
        position: absolute;
        right: 0;
        top: 75px;
    }
}
