.bar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: rgba(200, 200, 200, 0.6);
    margin-bottom: 0.5rem;
    border-radius: 2px;
    min-height: 30px;
    align-items: center;
    padding: 0;

    & .fill {
        background-color: #00A1A7;
        min-height: 30px;
        align-items: center;

        & .skill {
            padding-left: 1rem;
            background-color: #04C2C9;
            color: #fff;
            min-height: 30px;
            line-height: 30px;
            width: 8rem;
        }
    }

    span {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        padding-right: 1rem;
    }
}
