.well {
    max-width: 900px;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 2;
    min-height: 100%;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px 50% / 20px 2em 30px 5em;

    order: 2;
    @media screen and (max-width: 600px) {
        order: 1;
        margin-bottom: 1rem;
    }

    .name {
        display: flex;
        justify-content: flex-end;

        padding: 0.5rem 1rem;
        color: white;
        @media screen and (max-width: 600px) {
            padding-top: 0.55rem;
            font-size: 2rem;
        }
        @media screen and (min-width: 601px) and (max-width: 750px) {
            padding-top: 0.75rem;
            font-size: 3rem;
        }
        @media screen and (min-width: 751px) and (max-width: 949px) {
            padding-top: 1rem;
            font-size: 3.7rem;
        }
        @media screen and (min-width: 950px) and (max-width: 1023px) {
            font-size: 4.5rem;
        }
        @media screen and (min-width: 1024px) {
            font-size: 5rem;
        }
    }
    p.your-new {
        margin: 0;
    }
    .your-new:after {
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        @media screen and (max-width: 750px) {
            font-size: 0.5rem;
            margin-top: -1rem;
        }
        @media screen and (max-width: 450px) {
            font-size: 0.75rem;
        }
        content:'a web developer...';
        animation-duration: 15s;
        animation-name: changeText;
        animation-iteration-count: infinite;
        transition: 2s;
    }
    .hire-me-btn {
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-size: 0.5rem;
        margin: 0;
        padding: 0.25rem;
        border: none;
        animation: roll 10s infinite;
        transform: rotate(30deg);
        opacity: .7;
        @media screen and (min-width: 750px) {
            font-size: 0.75rem;
            margin: 0;
            padding: 0.5rem;
        }
    }
    .say-something {
        color: rgba(255, 255, 255, 0.62);
        padding: 2rem 1rem;
    }

    ul {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;
        list-style: none;
        li {
            margin: .5rem 0;
        }
    }

    .mozaik {
        display: flex;
        justify-content: space-around;
        .csempe {
            display: flex;
            padding: 1rem;
            background-color: rgba(255,255,255,.2);
            border-radius: 5px 5px 5px 5px;
        }
    }
}

@keyframes roll {
  0% {
    transform: rotate(0) translate(0, 0);
    background-color: rgba(178,18,18,.6);
  }
  30% {
    transform: rotate(360deg) translate(-50px, 0);
  }
  35% {
    background-color: rgba(226,94,26,.6);
  }
  40% {
    transform: scale(1.2) translate(-25px, 25px);
    @media screen and (min-width: 750px) {
        transform: scale(1.2) translate(-50px, 500px);
    }
  }
  55% {
    transform: scale(1) translate(-500px, 0);
  }
  60% {
    transform: scale(1.7) translate(-40px, -25px);
    @media screen and (min-width: 750px) {
        transform: scale(1.2) translate(-50px, 50px);
    }
  }
  75% {
    transform: scale(1) translate(-50px, 0);
  }
  70% {
    background-color: rgba(244,255,71,.6);
  }
  80% {
    transform: scale(2) translate(-25px, 10px);
    @media screen and (min-width: 750px) {
        transform: scale(1.2) translate(-50px, 50px);
    }
  }
  95% {
    background-color: rgba(178,18,18,.6);
  }
  100% {
    transform: rotate(10deg) translate(0, 0);
    background-color: rgba(178,18,18,.6);
  }
}

@keyframes changeText {
    33% {
      content:'the front-end guy...';
    }
    75% {
      content:'a php programmer...';
    }
}
